{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} vlog {% endblock title %}
{% block content %}
    <div class="container">
{% for vlog in vlogs %}
    <div class="col-12">
    <div class="media">
    <img src="..." class="mr-3" alt="...">
    <div class="media-body">
        <a href="{% url 'mlog:vlog_detail' vlog.pk %}" class="mt-0" ><h5>{{ vlog.title }}</h5></a>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
    </div>
    </div></div>
{% endfor %}
    </div>
{% endblock content %}