<div class="widget widget-recent-posts">
    <div class="card" >
        <div class="card-header blog-meta__comments">
            Recent articles
        </div>
    </div>
    <ul class="list-group list-group-flush">
        {% for article in recent_article_list %}
        <li class="liswidget_recent_comments list-group-item border border-light ">
            <a class=" hvr-forward  recent-post__title" href="{{ article.get_absolute_url }}">{{ article.title }}</a>
         </li>
        {% empty %}
        暂无文章！
        {% endfor %}
     </ul>
</div>