{% extends 'base.html' %}
{% load staticfiles %}
{% load highlight %}
{% load article_extras %}
{% block content %}
<div class="container" style="padding-bottom: 60px">

                <a class="text-secondary disabled">当前搜索：{{query}}</a>
                {% for result in page.object_list %}

                    <div class="card mb-2  p-3 md-5 bg-white " style="display: flex">
                    <div class="row no-gutters align-items-center">
                        <div class="col">

                            <div class="card-body">

                                    <span class="blog-meta__post-by">{{ result.object.comments.count }}&nbsp;&nbsp;&nbsp;<i class="fas fa-comments " style="color: yellowgreen;"></i></span>
                                    <span class="blog-meta__separator">|</span>
                                    <span class="blog-meta__post-by">{{ result.object.total_views }}&nbsp;&nbsp;&nbsp;<i class="fas fa-eye " style="color: lightskyblue;"></i></span>
                                    <span class="blog-meta__separator">|</span>


                                <h4 class="blog-post__title">
                                <a class="text-secondary no-underline blog-post__title"   href="{% url 'article:article_detail' result.object.pk %}">{{result.object.title}}</a>
                            </h4>
                            <p class="f-15 blog-meta__post-by">
                                {% with result.object.body|safe as body %}
                                    <span>{% highlight body with query %}</span>
                                {% endwith %}
                            </p>
                        </div>
                        </div>
                    </div>
                </div>





                {% empty %}

                <h3>NONE</h3>
                {% endfor %}

</div>

{% endblock content %}
