<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    <!-- 导航栏商标 -->
    <a class="navbar-brand" href="#">aaa</a>

    <!-- 导航入口 -->
    <div>
      <ul class="navbar-nav">
        <!-- 条目 -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">

                        </ul>
                    </div><!-- /.navbar-collapse -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index_url' %}" >index</a></li>
            <a class="nav-link" href="{% url 'article:article_list' %}">Article</a>
            <a class="nav-link" href="{% url 'article:article_list' %}">Picture</a>
            <a class="nav-link" href="{% url 'article:article_list' %}">Videos</a>
        </li>
          {% if user.is_authenticated %}
               <div class="btn-group">
            <a role="button" class="btn btn-light" href="{% url "userprofile:edit" user.id %}"><i class="fas fa-user"></i></a>
          <button class="btn btn-light dropdown-toggle dropdown-toggle-split" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <span class="sr-only">Toggle Dropdown</span>
          </button>
               <div class="dropdown-menu" aria-label="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'article:article_create' %}">发布</a>
            <a class="dropdown-item" href="{% url 'userprofile:logout' %}">退出</a>
          </div>
        </div>
       {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'userprofile:login' %}"><i class="fas fa-sign-in-alt"></i></a>
          </li>
          {% endif %}
      </ul>
    </div>

  </div>
</nav>