
<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}
{% load article_extras %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    文章详情
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 文章详情 -->
<div class="container ">
    <div class="row">
    <article class="blog-post col-12 shadow p-3 md-5 bg-white">
    <h1 class="top-gap-0 blog-detail-title">{{ article.title }}</h1>
           <span class="blog-meta__date">{{ article.created }}&nbsp;&nbsp;</span>
            <span class="blog-meta__separator">|</span>
            <span class="blog-meta__comments"></i><!-- 修改为评论的计数 -->{{ article.comments.count }}&nbsp;&nbsp;comments</span>
            <span class="blog-meta__separator">|</span>
            <span class="blog-meta__post-by">by {{ article.author }}</span>
        <!-- 文章正文 -->
        <div class="col-12">
            <p class="blog-details-text">{{ article.body|safe }}</p>
        </div>

    </article>


    <section class="comment-area top-gap-big" id="comment-area">
        <hr>
        {% if user.is_authenticated %}
        <div>
            <form action="{% url 'comment:post_comment' article.id %}" method='POST'>
                {% csrf_token %}
                <div class="form-group">
                    <label for="body">
                        <strong>
                            评论:
                        </strong>
                    </label>
                    <div>
                        {{ comment_form.media }}
                        {{ comment_form.body }}
        </div>
                    <br>
                <button type="submit" class="btn btn-secondary">发布</button>
            </form>
    </div>
        <br>
        {% else %}
        <br>
        <h5 class="row justify-content-center glyphicon-text-size">
            登陆以回复:<a href="{% url 'userprofile:login' %}"><i class="fab fa-facebook-square text-secondary"></i></a>
        </h5>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
            <br>&nbsp;

    {% load mptt_tags %}
    <h4 >{{ comments.count }}条评论</h4>
    <div class="row">
        {% recursetree comments %}
            {% with comment=node %}
                <div class="{% if comment.reply_to %}
                            offset-1 col-11
                            {% else %}
                            col-12
                            {% endif %}"
                     >

                        <hr>
                        <p>
                            <strong style="color:gray">
                                {{ comment.user }}
                            </strong>

                            {% if comment.reply_to %}
                                <i class="far fa-arrow-alt-circle-right"
                                   style="color:cornflowerblue;"
                                   ></i>
                                <strong style="color:gray">
                                    {{ comment.reply_to }}
                                </strong>
                            {% endif %}
                        </p>
                        <div>{{ comment.body|safe }}</div>
                    <div>
                        <span style="color: gray">
                            {{ comment.created|date:"Y-m-d H:i" }}
                        </span>

                        {% if user.is_authenticated %}
                        <button type="button"
                                class="btn btn-light btn-sm text-muted"
                                onclick="load_modal({{ article.id }},{{ comment.id }})"
                                >
                            回复
                        </button>
                        {% else %}
                        <a class="btn btn-light btn-sm text-muted"
                           href="{% url 'userprofile:login' %}"
                           >
                            回复
                        </a>
                        {% endif %}
                    </div>

                    <div class="modal fade" id="comment_{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="CommentModalCenter" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content" style="height: 480px;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">回复{{ comment.user }}:</h5>
                                </div>
                                <div class="modal-body" id="modal_body_{{ comment.id }}"></div>
                            </div>

                        </div>
                    </div>

                {% if not comment.is_leaf_node %}

                    <div class="children">
                        {{ children }}
                    </div>
                {% endif %}
                </div>
    {% endwith %}
    {% endrecursetree %}
    </div>


{% block script %}
    <script>
    $(".django-ckeditor-widget").removeAttr('style');
    </script>

    <script>
 function load_modal(article_id, comment_id) {
    let modal_body = '#modal_body_' + comment_id;
    let modal_id = '#comment_' + comment_id;

    // 加载编辑器
    if ($(modal_body).children().length === 0) {
        let content = '<iframe src="/comment/post-comment/' +
            article_id +
            '/' +
            comment_id +
            '" frameborder="0" style="width: 100%; height: 100%;"></iframe>';
        $(modal_body).append(content);
    };

    $(modal_id).modal('show');
}

    </script>
{% endblock script %}


{% endblock content %}
