<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}
{% load article_extras %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<div class="select2-container--default ">
<div class="d-flex fixed-full">
<img src="https://images.pexels.com/photos/673865/pexels-photo-673865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid"  alt="responsive image">
</div>
<!-- 定义放置文章标题的div容器 -->
<div class="content-body " style="padding-top: 70px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
            <!--普通文章显示-->
                {% for article in articles %}
                <div class="card mb-2 hvr-glow shadow p-3 md-5 bg-white " style="display: flex">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <div class="card-body">

                                    <span class="blog-meta__post-by">{{ article.total_views }}&nbsp;&nbsp;views</span>
                                    <span class="blog-meta__separator">|</span>
                                    <span class="blog-meta__comments"></i><!-- 修改为评论的计数 -->{{ article.comments.count }}&nbsp;&nbsp;comments</span>
                                    <span class="blog-meta__separator">|</span>
                                    <span>{{ article.created|timesince_zh }}</span>


                                <h4 class="blog-post__title">
                                <a class="text-secondary no-underline blog-post__title"   href="{% url 'article:article_detail' article.pk %}">{{ article.title }}</a>
                            </h4>
                            <p class="f-15 blog-meta__post-by">{{ article.excerpt|safe }}...</p>
                        </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="no-article">aaa</div>
                {% endfor %}

            </div>



            <aside class="col-md-4">
                 {% show_recent_articles %}

            </aside>

        </div>
    </div>
</div>


 <div class="pagination row ">
    <div class="m-auto ">
        <span class="step-links  center-block">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if articles.has_previous %}
                <a href="?page=1" class="btn btn-primary">
                    &laquo; 1
                </a>
                <a href="?page={{ articles.previous_page_number }}"
                   class="btn btn-secondary"
                >
                    {{ articles.previous_page_number }}
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn btn-secondary">
                {{ articles.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}"
                   class="btn btn-primary"
                >
                    {{ articles.next_page_number }}
                </a>

                <a href="?page={{ articles.paginator.num_pages }}"
                   class="btn btn-secondary"
                >
                    {{ articles.paginator.num_pages }} &raquo;
                </a>
            {% endif %}
        </span>
    </div>
</div>
</div>
{% endblock content  %}