{% load staticfiles %}
{% load article_extras %}
<!DOCTYPE html>
<!-- 网站主语言 -->
<html lang="zh-cn">

<head>
    <!-- 网站采用的字符编码 -->
    <meta charset="utf-8">
    <!-- 预留网站标题的位置 -->
    <title>{% block title %}{% endblock %}</title>
    <!-- 引入bootstrap的css文件 -->
     <script src="https://kit.fontawesome.com/38b2ba9329.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
     <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'md_css/monokai.css' %}">
        <link rel="stylesheet" href="{% static 'hover/hover.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<!-- 定义放置文章标题的div容器 -->
{% include 'header.html' %}

<div class="d-flex fixed-full">
<img src="https://images.pexels.com/photos/673865/pexels-photo-673865.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid"  alt="responsive image">
</div>
<!-- 定义放置文章标题的div容器 -->
<div class="content-body " style="padding-top: 70px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
            <!--普通文章显示-->
                {% for article in articles %}
                <div class="card mb-2 hvr-glow" style="display: flex">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            <div class="card-body">
                                <h4 class="mt-0">
                                <a class="text-secondary hvr-forward no-underline " style="font-weight: bold; color: black;"  href="{% url 'article:article_detail' article.pk %}">{{ article.title }}</a>
                            </h4>

                            <p class="f-15">{{ article.excerpt|safe }}...</p>
                        </div>
                            <div class="card-footer text-muted">
                                <div class="f-12">
                                    <span><i class="fas fa-clock bg text-secondary" style="color: pink;"></i>{{ article.created|timesince_zh }}</span>
                                    <span><i class="fas fa-comments text-secondary" style="color: yellowgreen;"></i><!-- 修改为评论的计数 -->{{ article.comments.count }}&nbsp;&nbsp;&nbsp;</span>
                                    <span><i class="fas fa-eye text-secondary" style="color: lightskyblue;"></i>{{ article.total_views }}&nbsp;&nbsp;&nbsp;</span>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="no-article">aaa</div>
                {% endfor %}

            </div>



            <aside class="col-md-4">
                 {% show_recent_articles %}

            </aside>

        </div>
    </div>
</div>


 <div class="pagination row ">
    <div class="m-auto ">
        <span class="step-links  center-block">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if articles.has_previous %}
                <a href="?page=1" class="btn btn-primary">
                    &laquo; 1
                </a>
                <a href="?page={{ articles.previous_page_number }}"
                   class="btn btn-secondary"
                >
                    {{ articles.previous_page_number }}
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn btn-secondary">
                {{ articles.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}"
                   class="btn btn-primary"
                >
                    {{ articles.next_page_number }}
                </a>

                <a href="?page={{ articles.paginator.num_pages }}"
                   class="btn btn-secondary"
                >
                    {{ articles.paginator.num_pages }} &raquo;
                </a>
            {% endif %}
        </span>
    </div>
</div>

</body>


{% include 'footer.html' %}
</html>
