<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}
{% load article_extras %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    MY MEMO
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<div class="container">
        <div class="row">
            <div class="col-md-8">

            {% show_columns %}
            <!--普通文章显示-->
                {% for article in articles %}

                <div class="card mb-2  p-3 md-5 bg-white " style="display: flex">
                    <div class="row no-gutters align-items-center">
                        <div class="col">
                            {% if article.avatar %}
                            <img src="http://lesphon-1252495278.picsh.myqcloud.com/{{ article.avatar }}?imageMogr2/crop/x200/gravity/center" class="card-img-top " style="height:200px ">
                            {% endif %}
                            <div class="card-body">

                                    <span class="blog-meta__post-by">{{ article.total_views }}&nbsp;&nbsp;views</span>
                                    <span class="blog-meta__separator">|</span>
                                    <span class="blog-meta__comments"></i><!-- 修改为评论的计数 -->{{ article.comments.count }}&nbsp;&nbsp;comments</span>
                                    <span class="blog-meta__separator">|</span>
                                    <span>{{ article.created|timesince_zh }}</span>


                                <h4 class="blog-post__title">
                                <a class="text-secondary no-underline blog-post__title"   href="{% url 'article:article_detail' article.pk %}">{{ article.title }}</a>
                            </h4>
                            <p class="f-15 blog-meta__post-by">{{ article.excerpt|safe }}...</p>
                        </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="no-article">aaa</div>
                {% endfor %}

{% if articles.paginator.count > 5 %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
  <!-- 如果不是第一页，则显示上翻按钮 -->
      {% if articles.has_previous %}
         <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Previous">
             <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="?page={{ articles.previous_page_number }}">{{ articles.previous_page_number }}</a></li>
      {% endif %}
<!--当前页 -->
        <li class="page-item"><a class="page-link" href="#">{{ articles.number }}</a></li>
  <!-- 如果不是最末页，则显示下翻按钮 -->
    {% if articles.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ articles.next_page_number }}">{{ articles.next_page_number }}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ articles.paginator.num_pages }}"><span aria-hidden="true">&raquo;</span></a>
        </li>
  {% endif %}
  </ul>
</nav>
{% endif %}
            </div>

            <div class="col-md-4">
                <div class="sidebar" id="sidebar" >
                    <div class="sidebar__inner">
                 {% show_recent_articles %}

                {% show_contactings %}

                {% show_archives %}
                    </div>
                </div>
            </div>

        </div>
    </div>

<!-- 粘性侧边栏样式 -->
<style>
    .sidebar{
        will-change: min-height;
    }

    .sidebar__inner{
        transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
        will-change: position, transform;
    }
</style>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<!-- 引入粘性侧边栏 -->
<script src="{% static 'sticky_sidebar/jquery.sticky-sidebar.min.js' %}"></script>
<script type="text/javascript">
    $('#sidebar').stickySidebar({
        topSpacing: 0,
        bottomSpacing: 20,
    });
</script>
 {% include 'back_to_top_func.html' %}

{% endblock content %}