<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    首页
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}

<!-- 定义放置文章标题的div容器 -->

<div class="container">

    <d class="row mt-2">

        {% for article in articles %}
            <div class="col-12">

       {% if article.column %}
            <button type="button"
             class="btn btn-sm mb-2 btn-dark

                    ">
            {{ article.column }}
            </button>
            {% endif %}

            <span>
            {% for tag in article.tags.all %}
                <a href="{% url 'article:article_list' %}?tag={{ tag }}"
                   class="badge badge-secondary"
                   >
                {{ tag }}
                </a>
                {% endfor %}
            </span>
            <h4>
            <b>
                <a href="{% url 'article:article_detail' article.id %}" style="color: black;">
                    {{ article.title }}
                </a>
            </b>
            </h4>
            <div>
            <p style="color: gray;">
                {{ article.body|slice:'100' }}...
            </p>
                <p>
            <span>
                <i class="fas fa-eye" style="color: lightskyblue;"></i>
            {{ article.total_views }}&nbsp;&nbsp;&nbsp;
            </span>
              <span>
        <i class="fas fa-comments" style="color: yellowgreen;"></i>
        <!-- 修改为评论的计数 -->
        {{ article.comments.count }}&nbsp;&nbsp;&nbsp;
    </span>
            <span>
                <i class="fas fa-clock" style="color: pink;"></i>
            {{ article.updated|date:'Y-m-d' }}
            </span>
                </p>
            <hr>
            </div>

        {% endfor %}




</div>
    {% endblock content %}